<div class="container mt-4">
    <div class="row">
        <!-- Card 1 -->
        <% habitaciones.forEach(h => { %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="public/img-img2.png" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title"><%- h.titulo %></h5>
                        <p class="card-text">
                            <%- h.descripcion %>
                        </p>
                        <a href="/habitacion/<%- h.id %>" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>     
        <% }); %>
        
    </div>
</div>

<script src="public/script-bootstrap.bundle.min.js"></script>
<script src="public/script-popper.min.js"></script>