<link rel="stylesheet" href="public/style-styles.css">
<nav class="navbar">
    <div class="brand" href="/Home">Plataforma de Aprendizaje</div>
    <div class="nav-links">
        <a href="/Home">Inicio</a>
        <a href="/Cursos">Cursos</a>
        <a href="/Contacto">Contactanos</a>
    </div>
</nav>