<div class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-header">
            Iniciar
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <form action="/verify" method="post">
                    <div class="form-floating mb-3">
                        <input type="email" name="EMAIL" id="EMAIL" class="form-control" placeholder=" " required>
                        <label for="EMAIL">Email</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" name="CLAVE" id="CLAVE" class="form-control" placeholder=" " required>
                        <label for="CLAVE">Clave</label>
                    </div>

                    <div class="mb-3">
                        <input type="submit" value="Iniciar" class="btn btn-primary">
                    </div>
                </form>
            </blockquote>
        </div>
    </div>
</div>
